*, 
*:before,
*:after {
    box-sizing: border-box;
}

* {
    font-family: "Abyssinica SIL", sans-serif;
    font-size: 20px;
}

h1 {
    font-family: "Alkalami", sans-serif;
    font-size: 40px;
}

h2,
h3 {
    font-family: "Alkalami", sans-serif;
    font-size: 30px;
    color: #00008B;
}

h4 {
    font-family: "Alkalami", sans-serif;
    font-size: 20px;
    color: #00008B;
}

body {
    margin: 0px;
}

.header {
    padding: 50px 20px;
    text-align: center;
    font-size: 20px;
    background: rgb(0,212,255);
background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(244,248,249,0.7049194677871149) 95%);
}

.junior {
    margin-bottom: 50px;
    font-weight: bolder;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.time {
    color: #0000CD;
}

.nav-link {
    color: inherit;
}

.nav-link:hover {
    color: rgb(5, 9, 239);
}