/*****************+++++++++++++++++++++++++++++++*******/
/* General Styling*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Abyssinica SIL", sans-serif;
  font-size: 1rem;
}

body {
  --background-color: snow;
  --text-color: black;
  --accent-color: #00d4ff;
  --accent-text-color: black;
  _--nav-link-active-bg-color: violet;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: var(--text-color);
}

@media screen and (min-width: 375px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 700px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}

h1 {
  font-family: "Alkalami", sans-serif;
  font-size: 2.5rem;
  border: 2px solid var(--main-color);
}

h2,
h3 {
  font-family: "Alkalami", sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

h4 {
  font-family: "Alkalami", sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

body {
  margin: 0rem;
}
/*****************************************************/
/* Specific Styling*/

.header {
  padding: 5rem 2rem;
  padding-top: 4.5rem;
  text-align: center;
  background-image: linear-gradient(
    270deg,
    var(--background-color),
    var(--accent-color)
  );
  position: relative;
  color: var(--accent-text-color);
}

.heading-group {
  font-size: 1.5rem;
}

.main-heading {
  font-size: 2em;
}

.profession {
  font-size: 1em;
}

.junior {
  margin-bottom: 3.5rem;
  font-weight: bolder;
}

.junior::first-letter {
  font-size: 100%;
}

.main {
  max-width: 130ch;
  margin: 0 auto;
  padding: 0 4rem;
}

.main > * + * {
  margin-top: 4rem;
}

@media screen and (min-width: 375px) {
  .main > * + * {
    margin-top: 2.5rem;
  }
}

.main > * {
  border-top: 0.2rem solid var(--accent-color);
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

.time {
  color: var(--text-color);
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: var(--accent-text-color);
  transition: background-color 0.25s ease-in-out;
}

.nav-link:hover {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.nav-link:focus {
  background-color: var(--accent-color);
  outline-color: var(--accent-text-color);
  outline-style: dotted;
}

.nav-link:active {
  background-color: var(--nav-link-active-bg-color);
  color: var(--accent-color);
}
.nav-link:visited {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

_.hover:hover {
  color: var(--accent-color);
}

_.hover {
  color: var(--accent-color);
}

/********************************************************/
/* Styling with Pseudo-Elements*/

p::first-letter {
  font-size: 150%;
}

::selection {
  background-color: var(--accent-color);
}

.strong1::after {
  content: "📚";
}

.strong2::after {
  content: "💻";
}

/***********************************************/
/* Display property */

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

/***********************************************/
/* Position */

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 4rem;
  background: var(--accent-color);
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }
  .navigation {
    display: none;
  }
}

.article-heading {
  position: relative;
  left: -2rem;
}

.footer {
  font-size: 1rem;
  font-family: monospace;
  background: linear-gradient(
    90deg,
    var(--background-color),
    var(--accent-color)
  );
  text-align: center;
  margin-bottom: 0;
  padding: 2.5rem;
}

.footer::first-letter {
  font-size: 1rem;
}

.footer-link,
.footer-link:link,
.footer-link:hover,
.footer-link:active,
.footer-link:visited {
  color: var(--accent-text-color);
}
